* {
    border: none;
    outline: none;
}

body {
    font-family: 'KoHo', sans-serif;
}

:root {
    --cl1: #c1cad6;
    --cl2: #323031;
    --cl3: #ffc857;
    --cl4: #db3a34;
    --cl5: #558b6e;
}

.container-fluid {
    background: linear-gradient(135deg, var(--cl4), var(--cl5));
    height: 100vh;
    position: relative;
}

.catch-data {
    padding: 6vh 0 10vh;
    transform: translateY(34vh);
    -webkit-transition: all 0.5s 0.65 cubic-bezier(0.34, 1.56, 0.64, 1);
    -moz-transition: all 0.5s 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
    -o-transition: all 0.5s 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: all 0.5s 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.catch-data-active {
    transform: translateY(2vh);
}

.user-input {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transform: scale(var(--vw-scale));
    -webkit-transition: all 0.5s 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
    -moz-transition: all 0.5s 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
    -o-transition: all 0.5s 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition: all 0.5s 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.user-input::after {
    content: '';
    position: absolute;
    font-size: 11px;
    top: 58px;
    opacity: 0;
    -webkit-transition: all 0.5s 0.2s ease-in-out;
    -moz-transition: all 0.5s 0.2s ease-in-out;
    -o-transition: all 0.5s 0.2s ease-in-out;
    transition: all 0.5s 0.2s ease-in-out;
}

.user-input.not-found::after {
    content: 'Este CEP não foi encontrado.';
    opacity: 1;
}

.user-input-active {
    transform: scale(var(--vw-unScale));
}

#cep-in {
    max-width: 200px;
    background: transparent;
    color: var(--cl1);
    font-size: 32px;
    border-bottom: 1px solid #c1cad67e;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s ease-in-out;
    position: relative;
}

.bx-search {
    color: var(--cl1);
    font-size: 56px;
    position: relative;
    transition: 0.5s ease-in-out;
    top: 3px;
}

.bx-search-active {
    color: var(--cl3);
}

#cep-in::placeholder {
    color: #c1cad67e;
}

#cep-in::-webkit-outer-spin-button,
#cep-in::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#cep-in[type='number'] {
    -moz-appearance: textfield;
}

#cep-in:focus {
    border-bottom: 1px solid var(--cl3);
}

.spinner-border {
    margin-top: 24px;
    width: 80px;
    height: 80px;
}

.result {
    background: var(--cl2);
    border-radius: 10px;
    max-width: 80vw;
    height: 65vh;
    -webkit-transition: all 0.5s 0.5s ease-in-out;
    -moz-transition: all 0.5s 0.5s ease-in-out;
    -o-transition: all 0.5s 0.5s ease-in-out;
    transition: all 0.5s 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.result-active {
    opacity: 1;
}

.viaCEP-api-data {
    padding: 20px 4vw;
    color: var(--cl1);
    font-size: 2vw;
}

.viaCEP-api-data strong {
    color: var(--cl3);
}

#map-iframe {
    width: 40vw;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.socials {
    position: fixed;
    right: 10px;
    top: 10px;
}

.btn-dark {
    color: var(--cl3);
    border: none;
    outline: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: relative;
    padding: 1px;
    font-size: 70px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus,
.btn-dark.bx.active {
    color: var(--cl3) !important;
}

.links-list {
    list-style-type: none;
    padding: 5px 0;
    background: var(--cl3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.links-list-item a i {
    font-size: 60px;
    margin: 0 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--cl2);
}

.links-list-item a i:hover {
    transform: translateY(-3px) scale(1.2);
}

@media screen and (max-width: 1000px) {
    .result {
        flex-direction: column;
        max-width: 80vw;
        height: 70vh;
    }

    .viaCEP-api-data {
        text-align: center;
        font-size: 18px;
    }

    .map {
        width: 100%;
    }

    #map-iframe {
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .btn-dark {
        font-size: 50px;
    }

    .links-list-item a i {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .result {
        max-width: 90vw;
    }

    .viaCEP-api-data {
        font-size: 16px;
    }
}

@media screen and (max-width: 420px) {
    .btn-dark {
        font-size: 40px;
    }

    .links-list-item a i {
        font-size: 30px;
    }
}
