* {
    border: none;
    outline: none;
}

body {
    font-family: 'KoHo', sans-serif;
}

:root {
    --cl1: #c1cad6;
    --cl2: #323031;
    --cl3: #ffc857;
    --cl4: #db3a34;
    --cl5: #084c61;
}
main {
    background: linear-gradient(125deg, #db3a34, #084c61);
    height: 100vh;
}

.catch-data {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 6vh 0 10vh;
    transform: translateY(34vh);
    -webkit-transition: all 0.5s 0.2s ease-in-out;
    -moz-transition: all 0.5s 0.2s ease-in-out;
    -o-transition: all 0.5s 0.2s ease-in-out;
    transition: all 0.5s 0.2s ease-in-out;
}

.catch-data-active {
    transform: translateY(0);
}

.user-input {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    transform: scale(2.2);
    -webkit-transition: all 0.5s 0.2s ease-in-out;
    -moz-transition: all 0.5s 0.2s ease-in-out;
    -o-transition: all 0.5s 0.2s ease-in-out;
    transition: all 0.5s 0.2s ease-in-out;
}

.user-input-active {
    transform: scale(1.4);
}

#cep-in {
    max-width: 200px;
    background: transparent;
    color: var(--cl1);
    font-size: 32px;
    border-bottom: 1px solid #c1cad67e;
    text-align: center;
    transition: 0.5s ease-in-out;
    position: relative;
    left: -28px;
}

.bx-search {
    color: var(--cl1);
    font-size: 56px;
    position: relative;
    transition: 0.5s ease-in-out;
    top: 5px;
    left: -28px;
}

.bx-search-active {
    color: var(--cl3);
}

#cep-in::placeholder {
    color: #c1cad67e;
}

#cep-in::-webkit-outer-spin-button,
#cep-in::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#cep-in[type='number'] {
    -moz-appearance: textfield;
}

#cep-in:focus {
    border-bottom: 1px solid var(--cl3);
}

.spinner-border {
    margin-top: 24px;
    width: 80px;
    height: 80px;
}

.result {
    background: var(--cl2);
    padding: 20px;
    border-radius: 10px;
    max-width: 80vw;
    margin: auto;
}
